@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Serif+SC:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body-font: "Montserrat", sans-serif;
    --mandarin-font: "Noto Serif SC", serif;
}

body {
    font-family: var(--body-font);
    background: #fffbf8;
}

.text-mandarin {
    font-family: var(--mandarin-font);
}
