@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Serif+SC:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body-font: "Montserrat", sans-serif;
    --mandarin-font: "Noto Serif SC", serif;
}

body {
    font-family: var(--body-font);
    background: #fffbf8;
}

.text-mandarin {
    font-family: var(--mandarin-font);
}

.acara-card {
    @apply w-[307px] p-4 h-auto shrink-0 backdrop-blur-[12px] border rounded-3xl border-[#F86F03] bg-gradient-to-b from-[#F8F8F8]/25 to-[#F8F8F8]/75;
}

.highlight-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#F86F03] to-[#FFA41B];
}
